<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://gogreenwithrenuoil.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://w22.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>gogreenwithrenuoil.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>gogreenw</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Main.ConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_100791_renuoil;User ID=DB_100791_renuoil_user;Password=renu1455ClogSnow;Integrated Security=False;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Main.ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_100791_renuoil;User ID=DB_100791_renuoil_user;Password=renu1455ClogSnow;Integrated Security=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Main.ConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>